 <!-- header -->

 <%- include('./partials/header') %> 

 <!-- header -->

<body class="sub_page">

  <div class="hero_area">
    <!-- header section strats --> 

    <%- include('./partials/navbar') %> 

    <!-- end header section -->

<!-- team section -->

  <section class="developer_section layout_padding" style="background: linear-gradient(#ADD8E6,#eec0c6); ">
    <div class="container">
      <div class="heading_container heading_center">
        <h2 style="font-size: 50px;">
         <strong>Meet our Team</strong> 
        </h2>
        <p class="col-md-10 mx-auto px-0" style="color: #1d1d1d; font-size: 20px;">
         Meet the Creative, self-organizing, cross-functional team of people who collectively are responsible for all of the work necessary to produce the Functionality of the Application.
        </p>
      </div>
      <br><br>
       
     


      <!-- bootstrap about team card -->

      <div class="row">
        <div class="col-sm-6 col-lg-4 mx-auto">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images\aloy.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;"><em>Aloysius Carvalho</em></h5>
              <p class="card-text" style="text-align: center;">Developer</p>
              <div class="social_box" style="text-align: center; width: 100%;">
                <a href="https://www.linkedin.com/in/aloysius-c-b2b529135">
                  <i class="fa fa-linkedin"  aria-hidden="true"></i>
                </a>
                <a href="https://wa.me/7350711333">
                  <i class="fa fa-whatsapp" style="margin-left: 15px;"  aria-hidden="true"></i>
                </a>
            </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mx-auto">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images\sai1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;"><em>Sai Acharya</em></h5>
              <p class="card-text" style="text-align: center;">Developer</p>
              <div class="social_box" style="text-align: center; width: 100%;">
                <a href="https://www.linkedin.com/in/saiacharya">
                  <i class="fa fa-linkedin"  aria-hidden="true"></i>
                </a>
                <a href="https://wa.me/8605502111">
                  <i class="fa fa-whatsapp" style="margin-left: 15px;"  aria-hidden="true"></i>
                </a>
            </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mx-auto">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images\leon.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;"><em>Leon Menezes</em> </h5>
              <p class="card-text" style="text-align: center;">Developer</p>
              <div class="social_box" style="text-align: center; width: 100%;">
                <a href="https://www.linkedin.com/in/leon-menezes-9025b5168">
                  <i class="fa fa-linkedin"  aria-hidden="true"></i>
                </a>
                <a href="https://wa.me/8010195183">
                  <i class="fa fa-whatsapp" style="margin-left: 15px;"  aria-hidden="true"></i>
                </a>
            </div>
            </div>
          </div>
        </div>
      </div>
        <br>
      
      <div class="row">
        <div class="col-sm-6 col-lg-4 mx-auto">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images\somu3.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;"><em>Somdutt Vernekar</em></h5>
              <p class="card-text" style="text-align: center;">Developer</p>
              <div class="social_box" style="text-align: center; width: 100%;">
                <a href="https://www.linkedin.com/in/somdutt-vernekar-204603169">
                  <i class="fa fa-linkedin"  aria-hidden="true"></i>
                </a>
                <a href="https://wa.me/8552875676">
                  <i class="fa fa-whatsapp" style="margin-left: 15px;"  aria-hidden="true"></i>
                </a>
            </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mx-auto">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images\aryan2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;"><em>Aryan Sawkar</em></h5>
              <p class="card-text" style="text-align: center;">Developer</p>
              <div class="social_box" style="text-align: center; width: 100%;">
                <a href="https://www.linkedin.com/in/aryan-sawkar-2a3533168">
                  <i class="fa fa-linkedin"  aria-hidden="true"></i>
                </a>
                <a href="https://wa.me/9146354380">
                  <i class="fa fa-whatsapp" style="margin-left: 15px;"  aria-hidden="true"></i>
                </a>
            </div>
            </div><br>
          </div>
        </div>  
      </div>

    </div>
  </section>
   <!-- end section -->

   <!-- team say section -->
    <section class="developer_section layout_padding" >
      <div class="container">
        <div class="heading_container heading_center">
          <h2 style="font-size: 50px;">
           <strong>Hear what the team has to say</strong> 
          </h2>
          <br>
          <p class="col-md-10 mx-auto px-0" style="color: #1d1d1d; font-size: 20px;;">
           " We were motivated to Combine Medicine and Modern technology like AI,Machine Learning for Our Final Year project. The eye is an important part of our lives as it gives us vision and any loss to vision is a big blow. So we decided to leverage Machine learning Techniques on retinal fundus images to detect the diseases timely to prevent further damage. The result of our work is what ur seeing right now."
          </p>
        </div>
      </div>  
    </section>


  <!-- end team say section -->
  </div>

  <!-- footer section -->

  <%- include('./partials/footer') %> 

  <!-- footer section -->

  <!-- jQery -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <!-- owl slider -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- custom js -->
  <script type="text/javascript" src="js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

</body>

</html>